doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width,initial-scale=1')
        meta(name='keywords',content='shop online,clothings')
        meta(name='description',content='đây là trang web bán hàng online tốt nhất')
        link(rel='stylesheet',href='../css/all.css')
        
        link(rel='stylesheet',href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
    body
        include banner.pug
        include info.pug
        include main.pug
        include bg-fix.pug
        include recent-product.pug
        include footer.pug
        include to-top.pug
        script(src='../js/top-nav.js')
        script(src='../js/info-hover.js')
        script(src='../js/icon-mobile.js')