.content-child{
    width: 100%;
    display: flex;
    margin-bottom: 11px;
    figure{
        width:43%;
        height: 91px;
        img{
            width: 99%;
            height: 100%;
        }
    }
    .text{
        
        width: 46%;
        margin-left: 5%;
        span{
            display: inline-block;
            padding:5px 4px;
            color: $color-blue;
        
        }
        
    }
}